
img{
	height:175px;
	width:400px;
	float: left;
}


.navbar {
  background-color: #DC2961;
}
#mainnav.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: #DC2961;
	color:#F4F4F4;
}

#mainnav.navbar-default .navbar-nav>li>a{
	background-color: #DC2961;
	color: #F4F4F4;
}

nav ul {
 text-align: center;
}



nav ul li {
  display: inline;
}


nav ul li a {
  padding: 0 60px;
  color: #F4F4F4;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-size: 22px;
}


body{
	margin: 0;
	padding: 0;
}

.separator {
	height: 5px;
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

}

.titre-intro{
	padding: 75px;
}

.intro{
	margin-bottom: 5px;
	margin-top: 15px;
}

.titre-acoustique{
	background-color: #8B3951;
	color: #F4F4F4;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 42px;
}

.titre-cover{
	background-color: #8E8E8E;
	color: #252324;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 42px;
}

.titre-instrumental{
	background-color: #8B3951;
	color: #F4F4F4;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 42px;

}

.titre-jouer{
	background-color: #8E8E8E;
	color: #252324;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 42px;
}


.acoustique{
	background-color: #8B3951;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 25px;
	clear: both;
	padding-top: 15px;
}

.cover{
	background-color: #8E8E8E;
	clear: both;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 25px;
	padding-top: 15px;
}

.instrumental{
	background-color: #8B3951;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 25px;
	padding-top: 15px;
}

.jouer{
	background-color: #8E8E8E;
	clear: both;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 25px;
	padding-top: 15px;
}


.acoustique p{
	color: #F4F4F4;
	font-family: 'Open Sans Condensed', sans-serif;
	float: left;
	font-size: 18px;
}

.cover p{
	color: #252324;
	font-family: 'Open Sans Condensed', sans-serif;
	float: right;
	font-size: 18px;
}

.instrumental p{
	color: #F4F4F4;
	font-family: 'Open Sans Condensed', sans-serif;
	float: left;
	font-size: 18px;
		
}

.acoustique object{
	float: right;
	height: 300px;
	width: 400px;
}

.cover object{
	float: left;
	height: 300px;
	width: 400px;
}

.instrumental object{
	float: right;
	height: 300px;
	width: 400px;
}

#micro{
	font-size: 75px;
	background-color: #8E8E8E;
	border: none;
}


footer {
	background-color: #DC2961;
	font-size: 30px;
	text-align: center;
}


a:active{
	color: none
}

#sociaux a{
	color:black;
	padding:5px;
}



#carousel-example-generic{
	width: 401px;
	margin: auto;
}


.modal-body{
	background-color: #8B3951;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

#envoyer{
	background-color: #8B3951;
	color: white;
	border: none;
}

#fermer{
	background-color: #8B3951;
	color: white;
	border: none;
}

.legend{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

label{
	width: 110px;
}
input{
	color: black;
}

textarea{
	width: 435px;
	height: 57px;
}

form{
	font-size: 12px;
}


#contact{
	font-size: 14px;
	text-align: center;
}


@media (max-width:320px) {  /*small mobile*/
 	nav ul {
    	padding: 5px;
	}
	nav ul li a {
		font-size: 14px;
		display: inline;
		padding: 5px;
	}

	header h2{
		font-size: 20px;
	}

	header p {
		font-size: 14px;
	}
	header img{
		height:150px;
		width:325px;
	}
	.acoustique h2{
		font-size: 22px;
	}
	.acoustique p{
		font-size: 14px;
	}
	.acoustique object{
		height: 200px;
		width: 300px;
	}
	.acoustique{
		height: 312px;
	}


	.cover h2{
		font-size: 22px;
	}
	.cover p{
		font-size: 14px;
	}
	.cover object{
		height: 200px;
		width: 300px;
	}
	.cover {
		height: 312px;
	}

	.instrumental h2 {
		font-size: 22px;
	}
	.instrumental p {
		font-size: 14px;
		width: 100%;
	}
	.instrumental object {
		height: 200px;
		width: 300px;
	}
	.instrumental {
		height: 312px;
	}
}

@media (min-width:321px) and (max-width:959px) {  /*tablet*/
   	nav ul {
    	padding: 0px;
	}
	nav ul li a {
		display: inline;
		padding: 10px;
	}

	header h2{
		font-size: 28px;
		font-family: 'Open Sans Condensed', sans-serif;
	}

	header p {
		font-size: 16px;
		font-family: 'Open Sans Condensed', sans-serif;
	}
		header img{
		height:200px;
		width:400px;
	}

	.acoustique h2{
		font-size: 22px;
	}
	.acoustique p{
		font-size: 14px;
		width: 100%;
		float: none;
	}
	.acoustique object{
		height: 200px;
		width: 300px;
		display: block;
		margin: 0 auto;
		/*text-align: center;*/ /*centrer*/
		float:none;
	}


	.cover h2{
		font-size: 22px;
	}
	.cover p{
		font-size: 14px;
		width: 100%;
		float: none;
	}
	.cover object{
		height: 200px;
		width: 300px;
		display: block;
		margin: 0 auto;
		/*text-align: center;*/ /*centrer*/
		float:none;
	}


	.instrumental h2 {
		font-size: 22px;
	}
	.instrumental p {
		font-size: 14px;
		width: 100%;
		float:none;
	}
	.instrumental object {
		height: 200px;
		width: 300px;
		display: block;
		margin: 0 auto;
		/*text-align: center;*/ /*centrer*/
		float:none;
}

@media (min-width:960px) and (max-width:1599px) {  /*desktop*/
 	
}
@media (min-width:1600px) {  /*desktop and tv*/
  h4 {
    background-color: yellow;
  }
}

